<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="blocks/header :: head">
        <title>Просмотр книги</title>
    </head>
    <body>
        <div th:replace="blocks/header :: header"></div>
        <div class="container mt-5">
            <h1>Библиотека</h1>
            <div class="row align-items-start">
                <div class="col-3">
                    <h5>Заголовок:</h5>
                </div>
                <div class="col-9">
                    <p th:text="${book.title}">Руслан и Людмила</p>
                </div>
                <div class="col-3">
                    <h5>Автор:</h5>
                </div>
                <div class="col-9">
                    <p th:text="${book.author.name}">Пушкин</p>
                </div>
                <div class="col-3">
                    <h5>Жанр:</h5>
                </div>
                <div class="col-9">
                    <p th:text="${book.genre.name}">Роман</p>
                </div>
                <div class="col-3">
                    <h5>Дата публикации:</h5>
                </div>
                <div class="col-9">
                    <p th:text="${book.published}">1828-01-01</p>
                </div>
                <div class="col-3">
                    <h5>Комментарии:</h5>
                </div>
                <div class="col-9">
                    <ul>
                        <li th:remove="all">Комментарий какой то</li>
                        <li th:remove="all">Ещё какой то комментарий</li>
                        <li th:each="comment : ${book.comments}"
                            th:text="${comment.text}">И ещё комментарий</li>
                    </ul>
                </div>
                <a th:href="@{'/book/' + ${book.id} + '/comment/new'}">
                    <button class="btn btn-primary">Добавить комментарий</button>
                </a>
            </div>
        </div>
    </body>
</html>