<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="blocks/header :: head">
        <title>Форма комментария</title>
    </head>
    <body>
        <div th:replace="blocks/header :: header"></div>
        <div class="container mt-5">
            <h1>Библиотека</h1>
            <h3 style="margin-top: 10px">Введите комментарий</h3>
            <div class="form-group">
                <form th:object="${comment}"
                      th:action="@{'/book/' + ${bookId} + '/comment'} " method="post">
                    <div class="form-group">
                        <label for="comment">Текст:</label>
                        <textarea class="form-control" rows="5" id="comment" name="text" th:field="*{text}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                </form>
            </div>
        </div>
    </body>
</html>